{% extends "layout.html" %}
{% block body %}
<div class="container text-center fw-bold text-primary mt-4">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Email</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          
          <p class="text-start f-80">1. mahadi15-3881@diu.edu.bd</p>
          <p class="text-start f-80">2. mahadimunna.official@gmail.com</p>
          
        </div>
      </div>
    <div class="card text-center mt-4">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Phone</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          
          <p class="text-start f-80">1. +8801778819445</p>
          <p class="text-start f-80">2. +8801521788180</p>
          
        </div>
      </div>

</div>
{% endblock %}